<?xml version="1.0" encoding="utf-8"?>
<dynamicQuerySettings>
  <xmlSerializerSection type="NCI.EasyObjects.Configuration.DynamicQuerySettings, NCI.EasyObjects, Version=1.0.2150.18228, Culture=neutral, PublicKeyToken=null">
    <easyObjects.dynamicQuerySettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="Default SQL Server" xmlns="http://www.noonanconsultinginc.com/practices/easyobjects.net/05-01-2005/data">
      <databaseTypes>
        <databaseType name="Oracle" type="NCI.EasyObjects.DynamicQueryProvider.OracleDynamicQuery, NCI.EasyObjects, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <databaseType name="Sql Server" type="NCI.EasyObjects.DynamicQueryProvider.SqlServerDynamicQuery, NCI.EasyObjects, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </databaseTypes>
      <instances>
        <instance name="Default SQL Server" type="Sql Server" />
        <instance name="Default Oracle" type="Oracle" />
      </instances>
    </easyObjects.dynamicQuerySettings>
  </xmlSerializerSection>
</dynamicQuerySettings>