<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <add
			name="EasyObjectsQuickStart" 
			providerName="System.Data.SqlClient"
			connectionString="server=(local)\SQLEXPRESS;database=Northwind;Integrated Security=true" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="EasyObjectsQuickStart"/>
</configuration>
