<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <section name="dynamicQueryConfiguration" type="NCI.EasyObjects.Configuration.DynamicQuerySettings, NCI.EasyObjects" />
  </configSections>
  <connectionStrings>
    <add
			name="SQLUnitTests" 
			providerName="System.Data.SqlClient"
			connectionString="server=(local)\SQLEXPRESS;database=EasyObjectsTest;Integrated Security=true" />
    <add
			name="OracleUnitTests" 
			providerName="System.Data.OracleClient"
			connectionString="" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="SQLUnitTests"/>
  <dynamicQueryConfiguration defaultProvider="SQL Server 2005">
    <dynamicQueryProviders>
      <add 
        name="SQL Server"
        type="NCI.EasyObjects.DynamicQueryProvider.SqlServerDynamicQuery, NCI.EasyObjects" />
      <add 
        name="SQL Server 2005"
        type="NCI.EasyObjects.DynamicQueryProvider.Sql2005DynamicQuery, NCI.EasyObjects" />
      <add 
        name="Oracle"
        type="NCI.EasyObjects.DynamicQueryProvider.OracleDynamicQuery, NCI.EasyObjects" />
    </dynamicQueryProviders>
  </dynamicQueryConfiguration>
</configuration>
